/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	background: hsl(0, 0%, 90%);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

div .teal{
    text-align:center;
}
.stat{
    font-size: 300%;


}
