<!DOCTYPE html>
<html ng-app='app' ng-jq="jQuery">
    <head>
        <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Float grid demo</title>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>


        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="style.css">

        <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.js'></script>
        <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.jQueryUI.min.js'></script>
        <script src="http://wzrd.in/standalone/uuid%2Fv4@latest"></script>

    </head>

    <body>

        <!-- START NAV -->
        <nav class="navbar is-white">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item brand-text" href="#">
                        LOGO ETHLEND Dashboard
                    </a>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="https://github.com/amirdib/dapp_dashboard">
                            Source
                        </a>

                        <a class="navbar-item" href="#">
                            Application
                        </a>
                    </div>


                    <a class="button is-medium" ng-controller="widgetController" ng-click="removeAll()" >
                        <span class="icon">
                            <i class="fa fa-trash-o fa-lg"></i>
                        </span>
                        <span>Clear</span>
                    </a>



                    <div class="control has-icons-left" ng-controller="widgetController">
                        <div class="select is-medium">
                            <select>
                                <option selected>Add card</option>
                                <option ng-click="addWidget('card')">Card</option>
                                <option ng-click="addWidget('totalAmount')">Total amount</option>
                                <option ng-click="addWidget('collaterals')">Collaterals</option>
                                <option ng-click="addWidget('topLenders')">Top Lenders</option>
                                <option ng-click="addWidget('topBorrowers')">Top Borrowers</option>
                            </select>

                        </div>
                        <span class="icon is-large is-left">
                            <i class="fa fa-plus-square"></i>
                        </span>
                    </div>

                </div>
            </div>
        </nav>
        <!-- END NAV -->

        <div class="container">

            <section>
                <div class="grid-stack" ng-controller="widgetController" ng-click=remove($event)>



                    <div class="grid-stack-item" data-gs-x="1" data-gs-y="0" data-gs-width="4" data-gs-height="2">
                        <article class="tile is-child box grid-stack-item-content">
                            <p class="title">Value Card 1</p>
                            <p class="subtitle">Card 1</p>
                        </article>
                    </div>

                    <div class="grid-stack-item" data-gs-x="6" data-gs-y="0" data-gs-width="4" data-gs-height="2">
                        <article class="tile is-child box grid-stack-item-content">
                            <p class="title">Value Card 2</p>
                            <p class="subtitle">Card 2</p>
                        </article>
                    </div>


                    <div class="grid-stack-item" data-gs-x="1" data-gs-y="3" data-gs-width="10" data-gs-height="4">
                        <div class="grid-stack-item-content card" id='loans-graph'>
                            <header class="card-header">
                                <p class="card-header-title" align="center">
                                    Total amount funded in ETH
                                </p>
                                <a href="#" class="card-header-icon" aria-label="Delete card">
                                    <span class="icon has-text-danger">
                                        <i class="fa fa-trash-o fa-lg"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-content" >
                                <div class='content'><loans></loans></div>
                            </div>
                        </div>
                    </div>

                    <div class="grid-stack-item" data-gs-x="7" data-gs-y="6" data-gs-width="5" data-gs-height="6">
                        <div class="grid-stack-item-content card" id='pieChart'>
                            <header class="card-header">
                                <p class="card-header-title" align="center">
                                    Collateral used in loans
                                </p>
                                <a href="#" class="card-header-icon" aria-label="Delete card">
                                    <span class="icon has-text-danger">
                                        <i class="fa fa-trash-o fa-lg"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-content" >
                                <div class='content'><collateral></collateral>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="10" data-gs-width="7" data-gs-height="8">
                        <div class="grid-stack-item-content card">
                            <header class="card-header">
                                <p class="card-header-title" align="center">
                                    Lenders
                                </p>
                                <a href="#" class="card-header-icon" aria-label="Delete card">
                                    <span class="icon has-text-danger">
                                        <i class="fa fa-trash-o fa-lg"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-content" >
                                <div class='content'><div ng-controller="Controller"><tablemodule></tablemodule></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--

<div class="grid-stack-item"
data-gs-x="1" data-gs-y="3"
data-gs-width="9" data-gs-height="4">
<div class="grid-stack-item-content" id='loans-graph'>
<loans></loans>
</div>
</div>


<div class="grid-stack-item" data-gs-x="0" data-gs-y="8" data-gs-width="7" data-gs-height="7">
<div class="tile is-child box grid-stack-item-content" id="pieChart">
<collateral></collateral>
</div>
</div>


<div class="grid-stack-item" data-gs-x="4" data-gs-y="17" data-gs-width="7" data-gs-height="8">
<article class="tile is-child box grid-stack-item-content">
<div ng-controller="Controller">
<tablemodule></tablemodule>
</div>
</article>
</div>
-->
                </div>

            </section>
        </div>


        <script type="text/javascript">
            var options = {
                animate: true
            };
            $(function () {
                $('.grid-stack').gridstack(options);
            });
        </script>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.min.js"></script>

    <script src="bower_components/d3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.min.js"></script>
    <script src="bower_components/d3pie/d3pie/d3pie.min.js"></script>

    <script src='app.modules.js'></script>

    <script src="views/loans/module.js"></script>
    <script src="views/loans/component.js"></script>

    <script src="views/collateral/module.js"></script>
    <script src="views/collateral/component.js"></script>

    <script src="views/table/component.js"></script>
    <script src="views/widget/module.js"></script>
    <script src="views/widget/component.js"></script>s

</html>
